html
    head
        title 25.6-template_PUG-first-page
        link(
            rel="stylesheet"
            href="../first-page.css"
        )
    body
        h1.main-title To go to the login page, press the button "Login page"
        button.logButton
            a.linkButton(href='/auth/google') Login page